#features {
  background: $main;

  .container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    margin: -10px auto auto;
    padding: 50px 0px;

    .feature {
      text-align: center;
      padding: 50px 0px;
      width: 450px;
      h3 {
        padding: 8px 0px;
        font-size: 1.2em;
        margin-top: 20px;
      }

      p {
        font-size: 0.9em;
        max-width: 400px;
        line-height: 1.5;
        margin: auto;
      }
    }
  }
}
